/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common-styles */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
/*logo part start */
.logo-part{
    width: 85%;
    margin: auto;
}
.logo{
    color: #96CEB4;
}
/* logo part finished */
/* header section styles start */
header{
    width: 85%;
    margin: auto;
    display: flex;
}
.sixty{
    width: 60%;
    padding: 20px;
}
.fourty{
    width: 40%;
}
.title{
    font-weight: 700;
    font-size: 50px;
}
span{
    color: #9D5353;
}
.fourty>img:hover{
    transform: rotatey(180deg);
}
.fourty>img{
    transition: width 10s linear, height 8s linear 2s, transform 3s;
}
.btn{
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    border: none;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
}
/* header section style finished */
main{
    width: 85%;
    margin: auto;
}
.company{
    display: flex;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 100px;
    border-top: 1px solid rgba(128, 128, 128, 0.158);
    border-bottom: 1px solid rgba(128, 128, 128, 0.158);
    justify-content: space-evenly;
}
/* popular collection part start */
.collection{
    margin-bottom: 50px;
}
.mtitle{
    text-align: center;
}
.items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-bottom: 24px;
}
.item{
    width: 300px;
    height: 484px;
    border: 1px solid rgba(245, 245, 245, 0.952);
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
.item>img{
    border-radius: 5px;
}
.fa-star{
    color: #FFC014;
}
.see-more{
    text-align: end;
    color: hotpink;
    font-weight: 700;
}
/* popular collection part start */
/* contact part start */
.contact{
    display: flex;
    margin-top: 50px;
}
.ltitle{
    text-align: center;
}
.sixtyper{
    width: 60%;
}
.fourtyper{
    width: 40%;
}
form>input{
    width: 430px;
    height: 45px;
    border: 3px solid gray;
}
textarea{
    border: 3px solid gray;
}
/* contact part finished */
/* footer part start */
.footer{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.986);
}
/* footer part finished */
/* for mobile devices */
@media only screen and (max-width: 688px) {
    header{
        width: 320px;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fourty>img{
        width: 100px;
    }
    .company{
        display: flex;
        flex-direction: column;
    }
    .company>img{
        display: block;
    }
    .items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .item{
        
        margin-bottom: 50px;
    }
    .item>img{
        width: 100%;
    }
    .contact{
        
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .sixtyper>img{
        width: 270px;
    }
    .input{
        width: 320px;
        height: 20px;
    }
    .footer{
        width: 100%;
    }
    
   
}
/* for tablet devices */
@media screen and (max-width: 1025px) {
    header{
        width: 640px;
        margin: 0;
        display: flex;
    }
    .fourty>img{
        width: 400px;
    }
    .company{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .items{
        grid-template-columns: repeat(2, 1fr);
        width: 640px;
    }
    .contact{
        width: 640px;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    footer{
        width: 100%;
    }
}
